.bg {
    /* background-image: url('https://www.juit.ac.in/front/images/banner.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden; */
    
  
}
.Gsuit{
    padding-top: 25px;
 
 }
.progress{
    padding-top: 15px;
    width: 11rem;
    margin: auto;
}
.created{
  padding:15px ;
    font-family: 'Times New Roman', Times, serif;
}
